.reviews {
    &-item {
        display: flex;
        padding: 50px 0;
        border-bottom: 1px solid #f6f6f6;;

        &__img {
            margin-right: 62px;
        }

        &__descr {
            h3 {
                font-size: 18px;
                line-height: 1.2;
                font-weight: 700;
                color: #0d0d0d;
            }
            h4 {
                font-size: 14px;
                line-height: 1.2;
                font-weight: 300;
                color: #646464;
            }
            p {
                margin-top: 20px;
                font-size: 16px;
                line-height: 1.2;
                font-weight: 300;
                color: #0d0d0d;
            }
        }
    }
}